In [1]:
#Import pandas
import pandas as pd

In [2]:
#Import the excel data from Brightspace
df= pd.read_excel(r"C:\Users\Legion 5\Downloads\sales (1).xlsx")

In [3]:
#Change NaN to 0 in domestic_box_office and international_box_office
df['domestic_box_office'].fillna(0, inplace=True)
df['international_box_office'].fillna(0, inplace=True)

In [4]:
#Sum international_box_office and domestic_box_office to get Total_box_office
df['Total_box_office'] = df['international_box_office'] + df['domestic_box_office']

In [5]:
#Import datetime
from datetime import datetime

In [6]:
#The code segment initially dissects the release date into two distinct variables, subsequently performing whitespace removal for the month component and eliminating the characters 'stndrdth' from the day component, leaving only the numeric value intact.
#Subsequently, the code is subjected to a validation test using a 'try' block to ascertain its functionality, followed by returning the result in the 'month-day' format.
#In the event of a ValueError occurrence, the code returns 'None,' indicating an unsuccessful operation, and proceeds to skip further processing of that particular data cell, allowing the code to continue with the next iteration.
def convert_date(date_str):
    parts = date_str.split()
    if len(parts) == 2:
        month_str, day_str = parts
        month_str = month_str.strip()
        day_str = day_str.strip('stndrdth')
        try:
            month = datetime.strptime(month_str, '%B').month
            day = int(day_str)
            return f'{month}-{day}'
        except ValueError:
            pass
    return None

#Apply the function to the 'release_date' column and create a new column 'formatted_date'.
df['formatted_date'] = df['release_date'].apply(convert_date)

In [7]:
#Convert the 'year' column to a string.
df['year'] = df['year'].astype(str)

In [8]:
#Combine the 'year' and 'formatted_date' columns into a single column named 'Reldate'.
df['Reldate'] = df['year'] + '-' + df['formatted_date']

In [9]:
#Utilize 'isna()' or 'isnull()' to check for NaN values in the column and use sum function to count the NaN values.
nan_count = df['Reldate'].isna().sum()
nan_count

46

In [10]:
#Replace empty values in 'Reldate' with the year from 'year' and add -01-01, because pgadmin4 needs a yyyy-mm-dd format. 
df['Reldate'].fillna(df['year'] + '-01-01', inplace=True)

In [11]:
#Check again de NaN values.
nan_count = df['Reldate'].isna().sum()
nan_count

0

In [12]:
#Check df.
df

,year,release_date,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,Unnamed: 8,opening_weekend,theatre_count,avg run per theatre,runtime,keywords,creative_type,url,Total_box_office,formatted_date,Reldate
0,2000,January 1st,Bakha Satang,Drama,76576.0,0.0,76576.0,NaN,NaN,NaN,NaN,NaN,129.0,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Bakha-Satang...,76576.0,1-1,2000-1-1
1,2001,January 12th,Antitrust,Thriller/Suspense,6900000.0,10965209.0,17865209.0,30000000.0,NaN,5486209.0,2433.0,3.1,NaN,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Antitrust,17865209.0,1-12,2001-1-12
2,2000,January 28th,Santitos,NaN,0.0,378562.0,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,NaN,https://www.the-numbers.com/movie/Santitos,378562.0,1-28,2000-1-28
3,2002,2002 (Wide) by,Frank McKlusky C.I.,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...,0.0,None,2002-01-01
4,2002,January 25th,A Walk to Remember,Drama,4833792.0,41227069.0,46060861.0,11000000.0,NaN,12177488.0,2411.0,5.3,NaN,Coming of Age,Contemporary Fiction,https://www.the-numbers.com/movie/Walk-to-Reme...,46060861.0,1-25,2002-1-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,January 1st,Jokbeoldu sinmun iyagi,Documentary,12356.0,0.0,12356.0,NaN,NaN,NaN,NaN,NaN,168.0,NaN,Factual,https://www.the-numbers.com/movie/Jokbeoldu-si...,12356.0,1-1,2021-1-1
30608,2021,March 5th,My Salinger Year,Drama,914119.0,54730.0,968849.0,NaN,NaN,28851.0,123.0,2.0,101.0,Set in New York City,Contemporary Fiction,https://www.the-numbers.com/movie/My-Salinger-...,968849.0,3-5,2021-3-5
30609,2021,January 1st,Escort Vehicle 36,Action,240000.0,0.0,240000.0,NaN,NaN,NaN,NaN,NaN,85.0,NaN,Historical Fiction,https://www.the-numbers.com/movie/Escort-Vehic...,240000.0,1-1,2021-1-1
30610,2021,May 21st,The Dry,Thriller/Suspense,16987526.0,364397.0,17351923.0,NaN,NaN,119364.0,186.0,2.5,118.0,Crime Thriller,Contemporary Fiction,https://www.the-numbers.com/movie/Dry-The-(Aus...,17351923.0,5-21,2021-5-21
30611,2021,January 1st,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,33396899.0,0.0,33396899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Super Hero,https://www.the-numbers.com/movie/Posledniy-bo...,33396899.0,1-1,2021-1-1

In [13]:
#Import re.
import re

In [14]:
#Removing the URL part before the moviename.
df['newUrl'] = df['url'].str.split("/", expand = True)[:][4]

In [15]:
#Converting everything to lowercase.
df['newUrl'] = df['newUrl'].str.lower()

In [16]:
#Removing the year in between brackets, i.e. (2000), using a regular expression stored in pattern that detects all four digit numbers inbetween brackets.
pattern = r'\(\d{4}\)'

df['newUrl'] = df['newUrl'].apply(lambda x: re.sub(pattern, '', x))

In [17]:
#removing hyphens from every string in the newUrl column.
df['newUrl'] = df['newUrl'].apply(lambda x: re.sub("-", '', x))

In [18]:
#Check df.
df

,year,release_date,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,Unnamed: 8,opening_weekend,theatre_count,avg run per theatre,runtime,keywords,creative_type,url,Total_box_office,formatted_date,Reldate,newUrl
0,2000,January 1st,Bakha Satang,Drama,76576.0,0.0,76576.0,NaN,NaN,NaN,NaN,NaN,129.0,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Bakha-Satang...,76576.0,1-1,2000-1-1,bakhasatang(skorea)
1,2001,January 12th,Antitrust,Thriller/Suspense,6900000.0,10965209.0,17865209.0,30000000.0,NaN,5486209.0,2433.0,3.1,NaN,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Antitrust,17865209.0,1-12,2001-1-12,antitrust
2,2000,January 28th,Santitos,NaN,0.0,378562.0,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,NaN,https://www.the-numbers.com/movie/Santitos,378562.0,1-28,2000-1-28,santitos
3,2002,2002 (Wide) by,Frank McKlusky C.I.,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...,0.0,None,2002-01-01,frankmckluskyci
4,2002,January 25th,A Walk to Remember,Drama,4833792.0,41227069.0,46060861.0,11000000.0,NaN,12177488.0,2411.0,5.3,NaN,Coming of Age,Contemporary Fiction,https://www.the-numbers.com/movie/Walk-to-Reme...,46060861.0,1-25,2002-1-25,walktoremembera
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,January 1st,Jokbeoldu sinmun iyagi,Documentary,12356.0,0.0,12356.0,NaN,NaN,NaN,NaN,NaN,168.0,NaN,Factual,https://www.the-numbers.com/movie/Jokbeoldu-si...,12356.0,1-1,2021-1-1,jokbeoldusinmuniyagi(2020southkorea)
30608,2021,March 5th,My Salinger Year,Drama,914119.0,54730.0,968849.0,NaN,NaN,28851.0,123.0,2.0,101.0,Set in New York City,Contemporary Fiction,https://www.the-numbers.com/movie/My-Salinger-...,968849.0,3-5,2021-3-5,mysalingeryear(canada)
30609,2021,January 1st,Escort Vehicle 36,Action,240000.0,0.0,240000.0,NaN,NaN,NaN,NaN,NaN,85.0,NaN,Historical Fiction,https://www.the-numbers.com/movie/Escort-Vehic...,240000.0,1-1,2021-1-1,escortvehicle36(2020china)
30610,2021,May 21st,The Dry,Thriller/Suspense,16987526.0,364397.0,17351923.0,NaN,NaN,119364.0,186.0,2.5,118.0,Crime Thriller,Contemporary Fiction,https://www.the-numbers.com/movie/Dry-The-(Aus...,17351923.0,5-21,2021-5-21,drythe(australia)
30611,2021,January 1st,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,33396899.0,0.0,33396899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Super Hero,https://www.the-numbers.com/movie/Posledniy-bo...,33396899.0,1-1,2021-1-1,posledniybogatyrkorenzla(2021russia)

In [19]:
#Delete useless columns.
df = df.drop(columns=['year', 'release_date', 'title', 'international_box_office', 
                    'domestic_box_office', 'worldwide_box_office', 'Unnamed: 8', 'theatre_count', 'avg run per theatre',
                     'formatted_date', 'url', 'keywords', 'creative_type' ])

In [20]:
#Check df.
df

,genre,production_budget,opening_weekend,runtime,Total_box_office,Reldate,newUrl
0,Drama,NaN,NaN,129.0,76576.0,2000-1-1,bakhasatang(skorea)
1,Thriller/Suspense,30000000.0,5486209.0,NaN,17865209.0,2001-1-12,antitrust
2,NaN,NaN,NaN,105.0,378562.0,2000-1-28,santitos
3,NaN,NaN,NaN,NaN,0.0,2002-01-01,frankmckluskyci
4,Drama,11000000.0,12177488.0,NaN,46060861.0,2002-1-25,walktoremembera
...,...,...,...,...,...,...,...
30607,Documentary,NaN,NaN,168.0,12356.0,2021-1-1,jokbeoldusinmuniyagi(2020southkorea)
30608,Drama,NaN,28851.0,101.0,968849.0,2021-3-5,mysalingeryear(canada)
30609,Action,NaN,NaN,85.0,240000.0,2021-1-1,escortvehicle36(2020china)
30610,Thriller/Suspense,NaN,119364.0,118.0,17351923.0,2021-5-21,drythe(australia)
30611,Adventure,NaN,NaN,NaN,33396899.0,2021-1-1,posledniybogatyrkorenzla(2021russia)

In [21]:
#Utilize str.replace() to replace 'thriller/suspense' with 'thriller'.
df['genre'] = df['genre'].str.replace('Thriller/Suspense', 'Thriller')

In [22]:
df

,genre,production_budget,opening_weekend,runtime,Total_box_office,Reldate,newUrl
0,Drama,NaN,NaN,129.0,76576.0,2000-1-1,bakhasatang(skorea)
1,Thriller,30000000.0,5486209.0,NaN,17865209.0,2001-1-12,antitrust
2,NaN,NaN,NaN,105.0,378562.0,2000-1-28,santitos
3,NaN,NaN,NaN,NaN,0.0,2002-01-01,frankmckluskyci
4,Drama,11000000.0,12177488.0,NaN,46060861.0,2002-1-25,walktoremembera
...,...,...,...,...,...,...,...
30607,Documentary,NaN,NaN,168.0,12356.0,2021-1-1,jokbeoldusinmuniyagi(2020southkorea)
30608,Drama,NaN,28851.0,101.0,968849.0,2021-3-5,mysalingeryear(canada)
30609,Action,NaN,NaN,85.0,240000.0,2021-1-1,escortvehicle36(2020china)
30610,Thriller,NaN,119364.0,118.0,17351923.0,2021-5-21,drythe(australia)
30611,Adventure,NaN,NaN,NaN,33396899.0,2021-1-1,posledniybogatyrkorenzla(2021russia)

In [23]:
#Removing the NaN and change it to 0.0 of all the NaN values.
df= df.fillna(0)
df

,genre,production_budget,opening_weekend,runtime,Total_box_office,Reldate,newUrl
0,Drama,0.0,0.0,129.0,76576.0,2000-1-1,bakhasatang(skorea)
1,Thriller,30000000.0,5486209.0,0.0,17865209.0,2001-1-12,antitrust
2,0,0.0,0.0,105.0,378562.0,2000-1-28,santitos
3,0,0.0,0.0,0.0,0.0,2002-01-01,frankmckluskyci
4,Drama,11000000.0,12177488.0,0.0,46060861.0,2002-1-25,walktoremembera
...,...,...,...,...,...,...,...
30607,Documentary,0.0,0.0,168.0,12356.0,2021-1-1,jokbeoldusinmuniyagi(2020southkorea)
30608,Drama,0.0,28851.0,101.0,968849.0,2021-3-5,mysalingeryear(canada)
30609,Action,0.0,0.0,85.0,240000.0,2021-1-1,escortvehicle36(2020china)
30610,Thriller,0.0,119364.0,118.0,17351923.0,2021-5-21,drythe(australia)
30611,Adventure,0.0,0.0,0.0,33396899.0,2021-1-1,posledniybogatyrkorenzla(2021russia)

In [24]:
df.to_csv('Salescleaned1.csv', index=False)